<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="/css/admin.css" />
    <title>Admin Login</title>
    <link rel="icon" href="/images/first.jpeg">
    <style>
      /* Add this CSS to style the preloader */
   .preloader {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(255, 255, 255, 0.8);
       display: none; /* Hidden by default */
       justify-content: center;
       align-items: center;
       z-index: 9999;
   }
   
   .spinner {
       border: 4px solid rgba(0, 0, 0, 0.1);
       border-left: 4px solid #3498db;
       border-radius: 50%;
       width: 40px;
       height: 40px;
       animation: spin 1s linear infinite;
   }
   
   @keyframes spin {
       0% { transform: rotate(0deg); }
       100% { transform: rotate(360deg); }
   }
   
  </style>
  </head>
  <body>
    <!-- Navigation -->
    <!-- <div class="top-nav">
      <div class="container d-flex">
        <p>Order Online Or Call Us: (001) 2222-55555</p>
        <ul class="d-flex">
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div> -->
    <div class="navigation">
      <div class="nav-center container d-flex">
        <a href="/" class="logo"><h1>JOBHIVE</h1></a>

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
        
        
         
 


          
          
        </ul>

       

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>
    <!-- Login -->
    <div class="container">
      <div class="login-form">
        <form id="signUpForm">
          <h1 id="message">Welcome Admin Login</h1>
         

          <label for="email">Email</label>
          <input type="text" placeholder="Enter Email" id="email" name="email" required />

          <label for="psw">Password</label>
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            id="password"
            required
          />

          

          <div class="buttons">
            <button type="submit" class="signupbtn">Login</button>
          </div>
        </form>
      </div>
    </div>



    <!-- preloader -->
    <div id="preloader" class="preloader">
      <div class="spinner"></div>
      <p>Loading...</p>
  </div>

     <!-- Footer -->
     <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="/">Home</a>
        <a href="#">About Us</a>
        <a href="#">Jobs</a>
        <a href="#">Testimonials</a>
        <a href="#">Contact Us</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a href="">Customer Services</a>
          <a href="">Promotion</a>
          <a href="">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><a href="https://www.instagram.com/latoyaandstyles?igsh=MWtpMDlnM2xzc2MxMQ%3D%3D&utm_source=qr"><i class='bx bxl-instagram-alt'> </i></a> </span>
          <span>  <a href="https://whatsapp.com/biz/"> <i class='bx bxl-whatsapp' ></i></a></span>
          <span>  <a href="https://ebere.tracy@yahoo.com"> <i class="bx bx-envelope icon'" ></i></a></span>

        </div>
      </div>
    </footer>




    <script>
       document.getElementById('signUpForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission
                //show preloader
            document.getElementById('preloader').style.display = 'flex';

            const formData = new FormData(this);
            const data = Object.fromEntries(formData.entries());
       
           
            try {
                
                const response = await fetch('https://www.transperfectly.com/api/auth/login', { // Adjust URL based on your route
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                          
                      },
                    body: JSON.stringify(data),
                });

                const result = await response.json();
                console.log(result.id)

                if (response.ok) {
                    document.getElementById('message').textContent = result.message;
                    document.getElementById('message').style.color = 'green';
                    window.location.href = `https://www.transperfectly.com/dash/${result.user.id}`;

                   

                } else {
                    document.getElementById('message').textContent = result.message;
                    document.getElementById('message').style.color = 'red';
                }
            } catch (error) {
              console.log(error)
                document.getElementById('message').textContent = 'An error occurred. Please try again.';
                document.getElementById('message').style.color = 'red';
            }finally{
                //hode preloader
                document.getElementById('preloader').style.display = 'none';
            }
        });
    </script>

    <!-- Custom Script -->
    <script src="/js/slider.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
